<!DOCTYPE html>
<html>
<head>
    <title>Environment Page</title>
</head>
<body>
    <h1>Environment Details read dynamically from environment vars!</h1>
    <p>Current environment: <strong>${APP_ENV}</strong></p>
    <a href="/index.html">Back to Home</a>
</body>
</html>